* {
  box-sizing: border-box;
}
:root {
  --orange: #e76f51;
}
html {
  font-size: 10px; /* 1rem=10px */
}
body {
  font-size: 1.6rem;
  line-height: 1.6;
  font-family: "Roboto";
}

header {
  background: linear-gradient(rgba(59, 55, 53, 0.5), rgba(59, 55, 53, 0.5)),
    url(../images/header-bg.jpg);
  background-position: center;
  background-size: cover;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}
.app-logo {
  display: block;
  width: 5.5rem;
  height: 5.5rem;
}
.app-logo__img {
  width: 100%;
  height: 100%;
}
.menu {
  display: none;
}
.menu__item {
}
.menu_link {
}

.mobile-menu {
}
.mobile-menu__item {
}
.mobile-menu__link {
}
.nav-menu__links {
}
.nav-menu__link {
}
.nav-menu__link--border {
}
.header__links {
  display: none;
}
.header__link {
}
.header__link--border {
}
.nav__btn {
  background-color: #fff;
  width: 5.5rem;
  border-radius: 2rem;
  height: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.nav__btn-line {
  display: block;
  width: 3rem;
  height: 0.3rem;
  background-color: var(--orange);
  border-radius: 2rem;
  position: relative;
  transition: all 100ms ease-in-out;
}
/* منو همبرگری : */
.nav__btn-line::before,
.nav__btn-line::after {
  content: "";
  width: 3rem;
  height: 0.3rem;
  background-color: var(--orange);
  position: absolute;
  transition: all 100ms ease-in-out;
}
.nav__btn-line::before {
  top: 0.8rem;
}
.nav__btn-line::after {
  top: -0.8rem;
}
.nav-menu {
  display: none;
}
.nav__btn--open .nav__btn-line {
  /* ! ادد با جاوا اسکریپت ! */
  background-color: transparent; /*برای از بین رفتن خط وسط منو*/
}
.nav__btn--open .nav__btn-line::before {
  transform: translateY(-8px) rotate(45deg);
}
.nav__btn--open .nav__btn-line::after {
  transform: translateY(8px) rotate(-45deg);
}
.nav-menuapp-logo__img {
}
.nav-menumenu {
}
.nav-menumenu__item {
}
.nav-menumenu_link {
}
.nav-menu-menu {
}
.nav-menumobile-menu {
}
.nav-menumobile-menu__item {
}
.nav-menumobile-menu__link {
}
.nav-menu-menu__links {
}
.nav-menu-menu__link {
}
.nav-menu-menu__link--border {
}
.nav-menuheader__links {
}
.nav-menuheader__link {
}
.nav-menuheader__link--border {
}
.nav-menu__btn {
}
.nav-menu__btn-line {
}
