* {
  box-sizing: border-box;
}
:root {
  --orange: #e76f51;
  --white: #ffff;
  --gray: #d2d2d2;
  --dark: #3b3735;
}
html {
  font-size: 10px; /* 1rem=10px */
}
body {
  font-size: 1.6rem;
  line-height: 1.6;
  font-family: "Roboto";
}
a {
  text-decoration: none;
}
header {
  background: linear-gradient(rgba(59, 55, 53, 0.5), rgba(59, 55, 53, 0.5)),
    url(../images/header-bg.jpg);
  background-position: center;
  background-size: cover;
  min-height: 55rem;
  border-bottom-left-radius: 10rem;
  border-bottom-right-radius: 10rem;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 0;
}
.app-logo {
  display: block;
  width: 5.5rem;
  height: 5.5rem;
  margin-right: 4rem;
}
.app-logo__img {
  width: 100%;
  height: 100%;
}
.menu {
  display: none;
}
.menu__item {
  margin-right: 1.5rem;
}
.menu_link {
  color: var(--gray);
  transition: color 100ms ease-in;
}
.menu_link:hover {
  color: var(--white);
}
.menu_link--active {
  color: var(--white);
  position: relative;
  z-index: 1;
}
.menu_link--active::before {
  content: "";
  position: absolute;
  width: 4rem;
  height: 0.3rem;
  background-color: var(--orange);
  border-radius: 10rem;
  transform: rotate(45deg);
  top: 7px;
  z-index: -1;
  right: 0;
  left: 0;
  margin: 0 auto;
}
.mobile-menu {
  margin-bottom: 3rem;
}
.mobile-menu__item {
  margin-bottom: 1rem;
}
.mobile-menu__link {
  color: var(--white);
}
.nav-menu__links {
  display: flex;
}
.nav-menu__link {
  color: var(--white);
  border: 1px solid var(--white);
  display: block;
  padding: 1rem;
  flex-grow: 1;
  text-align: center;
}
.nav-menu__link--border {
}
.header__links {
  display: none;
}
.header__link {
  color: var(--white);
  font-family: "Roboto Medium";
  margin-left: 1.5rem;
}
.header__link--border {
  border: 1px solid var(--white);
  padding: 1rem 2.5rem;
  border-radius: 10rem;
  transition: all 100ms ease-in;
}
.header__link--border:hover {
  background-color: var(--white);
  color: var(--dark);
}
.nav__btn {
  background-color: var(--white);
  width: 5.5rem;
  border-radius: 2rem;
  height: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.nav__btn-line {
  display: block;
  width: 3rem;
  height: 0.3rem;
  background-color: var(--orange);
  border-radius: 2rem;
  position: relative;
  transition: all 100ms ease-in-out;
}
.nav__wrapper {
  display: flex;
  align-items: center;
}
/* منو همبرگری : */
.nav__btn-line::before,
.nav__btn-line::after {
  content: "";
  width: 3rem;
  height: 0.3rem;
  background-color: var(--orange);
  position: absolute;
  transition: all 200ms ease-in-out;
}
.nav__btn-line::before {
  top: 0.8rem;
}
.nav__btn-line::after {
  top: -0.8rem;
}
.nav-menu {
  position: fixed;
  background-color: rgb(66, 45, 45);
  top: 0;
  left: -25rem;
  bottom: 0;
  width: 20rem;
  padding: 2.5rem;
  transition: all 250ms ease-in-out;
}
.nav__btn--open .nav__btn-line {
  /* ! ادد با جاوا اسکریپت ! */
  background-color: transparent; /*برای از بین رفتن خط وسط منو*/
}
.nav__btn--open .nav__btn-line::before {
  transform: translateY(-8px) rotate(45deg);
}
.nav__btn--open .nav__btn-line::after {
  transform: translateY(8px) rotate(-45deg);
}
.nav-menu--open {
  left: 0;
}
.nav-menuapp-logo__img {
}
.nav-menumenu {
}
.nav-menumenu__item {
}
.nav-menumenu_link {
}
.nav-menu-menu {
}
.nav-menumobile-menu {
}
.nav-menumobile-menu__item {
}
.nav-menumobile-menu__link {
}
.nav-menu-menu__links {
}
.nav-menu-menu__link {
}
.nav-menu-menu__link--border {
}
.nav-menuheader__links {
}
.nav-menuheader__link {
}
.nav-menuheader__link--border {
}
.nav-menu__btn {
}
.nav-menu__btn-line {
}
